# Data Science Tools and Ecosystem

### In this notebook, Data Science tools and ecosystem are summerized

## **Objectives** 

* Tools For Data Science
* Programming Languages 
* Commonly used Libraries

## Author: 
Valentina Boykova

### Some of the most popular Data Science Languages that Data Scientists useare
1. Python
2. Java, 
3. C++
4. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. MATPLOTLIB
3. Pandas
4. NumPy

|Data Science Tools |
|-------------------|
|ceph|
|Hadoop|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335